# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
.venv/
.ENV/

# IDEs e editores
.vscode/
.idea/
*.swp

# Arquivos de log
*.log

# Arquivos do sistema operacional
.DS_Store
Thumbs.db